@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', sans-serif;
}

:root {
    --green: #006432;
    --lightGreen: #00984C;
    --darkGreen: #0B3822;
    --black: #292929;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}
  
::-webkit-scrollbar-track {
    background-color: #d4d4d4;
}

::-webkit-scrollbar-thumb {
    background-color: var(--lightGreen);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
}

::selection {
    color: #FFF;
    background-color: var(--green);
}

img {
    user-select: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--green);
    color: #FFF;
    font-size: 1.2rem;

    height: 10vh;

    padding: 1.5rem 3rem;
}

header img {
    height: 100%;
}

header nav {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-weight: 600;
}

header nav a {
    text-decoration: none;
    color: #FFF;
    transition: .5s;
}

header nav a:hover {
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: var(--darkGreen);
}

header button {
    cursor: pointer;
    padding: .6rem 1.2rem;
    background-color: var(--lightGreen);
    border-radius: 10px;
    border: 1px solid transparent;
    color: #FFF;

    font-size: 1rem;
    font-weight: 600;

    transition: .5s;
}

header button:hover {
    border-color: #FFF;
    color: #FFF;
    background-color: var(--green);
}

main .home, main .history {
    display: flex;
    height: calc(90vh - 3rem);
}

.home img, .history img {
    width: 50vw;
    height: 100%;
    
    object-fit: cover;
    object-position: top;
}

.home > div, .history > div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50vw;
    height: 100%;
}

.home > div .container, .history > div .container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 70%;
}

.home .container h1, .history .container h1 {
    font-weight: 900;
    font-size: 3rem;
    color: var(--green);
}

.home .container p, .history .container p {
    font-size: 1.3rem;
    color: var(--black);
}

section button {
    cursor: pointer;

    padding: 1.1rem 2rem;
    margin-left: auto;

    border-radius: 15px;
    border: 1px solid transparent;

    background-color: var(--green);

    font-size: 1.1rem;
    font-weight: 700;
    color: #FFF;

    transition: .5s;
}

section button:hover {
    background-color: #FFF;
    color: var(--green);
    border-color: var(--green);
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 80vh;

    padding: 3rem 5rem;

    background-image: linear-gradient(to bottom, var(--darkGreen), var(--green));
}

.news h1 {
    font-size: 3rem;
    font-weight: 900;

    color: #FFF;
}

.newsContainer {
    display: flex;
    gap: 3rem;

    width: 100%;
    height: 60%;
}

.newsItem {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1.5rem;

    width: 15%;

    background-image: url('https://sep-bucket-prod.s3.amazonaws.com/wp-content/uploads/2023/04/20042023_cg_palmeiras_9531_136.jpg');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    
    border-radius: 25px;
    box-shadow: inset 0px -150px 118px rgba(0, 0, 0, 0.7);

    transition: .5s;
}

.newsItem:hover {
    background-size: auto 120%;
}

.newsItem .iconify {
    font-size: 1.5rem;
    color: #FFF;

    margin-left: auto;
}

.newsItem div p {
    font-size: .9rem;
    color: #FFFFFF70;

    margin-bottom: .5rem;
}

.newsItem h3 {
    font-weight: 600;
    color: #FFF;
    margin-bottom: 1rem;
}

.pageControllerContainer {
    display: flex;
    margin-inline: auto;
    gap: .5rem;
}

.pageControllerContainer div {
    cursor: pointer;
    height: .8rem;
    width: .8rem;

    background-color: #FFF;
    border-radius: 1rem;
}

.pageControllerContainer .currentPage {
    width: 2.2rem;

    background-color: var(--darkGreen);
}

.matches {
    padding: 3rem 5rem;
}

.matches .content {
    display: flex;
}

.matches .content > div {
    width: calc(50vw - 5rem);
}

.matches > div button {
    margin-top: 2rem;
}

.matches h1 {
    font-weight: 900;
    font-size: 3rem;

    margin-bottom: 2.5rem;

    color: var(--green);
}

.matches h4 {
    font-size: 1.4rem;

    margin-bottom: .5rem;

    color: #3C825F;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70%;

    border: 1px solid #D2D2D2;
    border-radius: 5px;
}

.match::before {
    content: "";

    width: 100%;
    height: 10px;

    background-color: var(--green);
    border-radius: 5px 5px 0px 0px;
}

.match p {
    color: var(--green);
    margin-inline: 4rem;
    margin-block: 1rem .6rem;
}

.match .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.match .team img {
    height: 5rem;
}

.match .team h4 {
    text-align: center;

    font-size: 1.1rem;
    font-weight: 900;
    color: var(--green);
}

.match .teamScore {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.match .matchResult {
    display: flex;
    gap: .5rem;
}

.teamScore h1 {
    background-color: var(--green);
    color: #FFF;
    border-radius: 5px;

    height: fit-content;
    padding: 0 1rem;

    font-size: 4rem;
    font-weight: 900;
}

.matches .rightContent {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.rightContent > div {
    width: 100%;
}

.rightContent .scoreboard input {
    outline: none;
    padding: 0 1rem;

    height: 90%;

    font-size: 4rem;
    font-weight: 900;

    background-color: #DFDFDF;
    color: var(--green);

    border-radius: 5px;
    border: 0;

    width: 2.5rem;
}

.scoreboard {
    display: flex;

    gap: 1rem;
}

.rightContent .matchResult .timetable {
    height: fit-content;
    padding: .8rem 1rem;
    
    color: #FFF;
    background-color: var(--green);

    font-weight: 700;
}

.rightContent div button {
    background-color: #FFF;
    color: var(--green);
    border-color: var(--green);
}

.rightContent div button:hover {
    border: 1px solid transparent;
    background-color: var(--green);
    color: #FFF;
}

.rightContent .nextMatch .match {
    background-color: #FFF;
    filter: drop-shadow(2px 2px 5px rgba(0, 100, 50, 0.5));
}

footer {
    display: flex;
    align-items: center;

    padding: 3rem 4rem;

    background-color: var(--green);
}

footer img {
    height: 8rem;
}

footer section {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}

footer section > div {
    display: flex;
    flex-direction: column;

    gap: .3rem;
}

footer section h2 {
    margin-bottom: 1rem;
}

footer section a {
    text-decoration: none;
    
    font-weight: 600;
    font-size: 1.1rem;
    color: #FFF;

    opacity: 1;
    transition: .5s;
}

footer section a:hover {
    opacity: .6;
}

footer .contact .iconify {
    font-size: 1.2rem;
}

footer .contact a {
    display: flex;
    align-items: center;
    gap: .4rem;

    font-weight: 400;
    text-decoration: underline;
}

footer .socialMedia .socialMediaContainer {
    display: flex;
    justify-content: space-evenly;
}

footer .socialMedia .iconify {
    font-size: 2rem;
}
