body {
    overflow: hidden;
    background-color: #0000009c;
}

header {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 95%;
}

main {
    z-index: 4;
    display: flex;

    padding: 4rem;
    height: calc(90vh - 11rem);

    margin-top: calc(10vh + 3rem);

    flex: 1;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;

    box-shadow: inset 110px -150px 118px rgba(0, 0, 0, 0.8);

    transition: .5s;
}

main .currentCard {
    width: 43%;
}

.currentCard h4 {
    font-size: 3.8rem;
    color: #FFFFFF90;

    transition: .5s;
}

.currentCard h1 {
    color: #FFF;
    font-size: 4.5rem;

    transition: .5s;
}

.currentCard p {
    color: #FFFFFF90;
    font-size: 1.3rem;

    transition: .5s;
}

.nextCards {
    user-select: none;

    position: absolute;
    right: -10rem;
    bottom: 2rem;
    
    transition: .5s;
}

.nextCards .cardsContainer {
    display: flex;
    gap: 1.5rem;

    transition: .5s;
}

.nextCards .card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;

    box-shadow: inset 50px -50px 118px rgba(0, 0, 0, 0.8);
    background-size: cover;

    padding: 2rem;

    height: 35vh;
    width: 10vw;

    overflow: hidden;

    border-radius: 15px;

    transition: all .5s ease-in-out;
}

.card h1 {
    font-size: 1.5rem;
    color: #FFF;
}

.card h4 {
    font-size: 1.5rem;
    color: #FFFFFF80;
}

.nextCards .controllers {
    display: flex;
    align-items: center;

    gap: 1.2rem;

    padding-inline: 1rem;

    margin-top: 2rem;
}

.controllers button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.5px solid #FFF8;
    background-color: transparent;

    padding: .8rem;

    border-radius: 50%;
}

.controllers button .iconify {
    font-size: 2rem;
    color: #FFF;
}

.controllers .progressBar {
    width: 60%;
    height: .3rem;

    background-color: #FFF5;
}

.progressBar div {
    width: 40%;
    height: 100%;

    background-color: var(--green);
}

.controllers h1 {
    font-size: 4rem;
    color: #FFF;
}

@keyframes hideText {
    from {
        overflow: hidden;
        line-height: 0%;
    }

    to {
        line-height: 150%;
    }
}