main {
    display: flex;

    width: 100%;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 50vw;
    max-height: 100vh;
}

section .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    text-align: center;

    overflow-y: scroll;
}

main > img {
    width: 50vw;
    height: 100%;

    object-fit: cover;
}

.logo {
    display: flex;
    align-items: center;
    margin-inline: auto;

    margin-block: 2rem;

    gap: 1rem;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.logo h1 { 
    font-size: 1.6rem;
    font-weight: 900;

    line-height: 2rem;

    color: var(--green);
}

.switchScreen {
    top: 1rem;
    display: flex;
    align-items: center;

    margin-bottom: 1rem;
    padding: .5rem;

    width: 40%;
    height: 3.5rem;

    background-color: #E3E3E3;
    border-radius: 15px;
}

.switchScreen h2 {
    cursor: pointer;
    flex: 1;
    text-align: center;

    z-index: 2;
    color: #ADADAD;

    transition: .5s;
}

.switchScreen .activeScreen {
    color: #FFF;
}

.switchScreen .buttonSwitch {
    position: absolute;
    display: flex;
    align-items: center;

    height: 3.5rem;
    width: 10%;
    left: 15%;

    background-color: var(--green);
    border-radius: 15px;

    transition: .5s;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    margin-top: 2rem;
    padding-bottom: 2rem;

    width: 40%;
}

.disabledForm {
    display: none;
}

.form h2 {
    font-weight: 800;
    font-size: 1.8rem;

    color: var(--green);
}

.form p {
    color: #949494;
}

.form form {
    margin-top: 1rem;

    gap: 1rem;
}

.profileImageInput {
    height: 8rem;
    width: 8rem;
    
    margin: auto;

    border-radius: 50%;
    background-image: url('../assets/img/profile.svg');
    background-size: cover;
}

.profileImageInput .overlay {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    width: 100%;
    height: 100%;

    border-radius: 50%;

    background-color: #00000080;
    opacity: 0;
    
    transition: .5s;
}

.profileImageInput .overlay p {
    max-width: 7rem;
    color: #FFF;
}

.profileImageInput:hover .overlay {
    opacity: 1;
}

.form .alerts p {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.form .alerts .iconify {
    font-size: 1.2rem;
}

.form form, .form form > div {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.form form label:not(.profileImageInput) {
    font-size: 1.2rem;
    font-weight: 500;

    margin-right: auto;
    margin-left: 1rem;

    color: var(--black);

    transition: .5s;
}

.formInput {
    display: flex;
    align-items: center;
    width: 100%;

    border: 2px solid #00000020;
    border-radius: 15px;

    transition: .5s;

}

.formInput .iconify {
    font-size: 1.5rem;
    padding-left: .8rem;

    color: #9b9b9b;

    transition: .5s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 35px #FFF inset;
    -webkit-text-fill-color: var(--green) !important;
}

.formInput input {
    outline: 0;

    font-size: 1.2rem;
    font-weight: 500;
    color: var(--green);

    width: 100%;
    padding: 1rem;
    
    border: 0;
    border-radius: 15px;
}

.form button {
    width: 100%;
}